
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-606000209331880534.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-606000209331880534.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-606000209331880534.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-606000209331880534.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-606000209331880534.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-606000209331880534.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-606000209331880534.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-606000209331880534.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-606000209331880534.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-606000209331880534.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-606000209331880534.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-606000209331880534.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-606000209331880534.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-606000209331880534.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-606000209331880534.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-606000209331880534.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-606000209331880534.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-606000209331880534.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-606000209331880534.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-606000209331880534.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-606000209331880534.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-606000209331880534.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-606000209331880534.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-606000209331880534.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-606000209331880534.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-606000209331880534.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-606000209331880534.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-606000209331880534.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-606000209331880534.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-606000209331880534.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-606000209331880534.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-606000209331880534.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-606000209331880534.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-606000209331880534.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-606000209331880534.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-606000209331880534.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-606000209331880534.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-606000209331880534.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-606000209331880534.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-606000209331880534.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-606000209331880534.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-606000209331880534.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-606000209331880534.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-606000209331880534.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-606000209331880534.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-606000209331880534.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-606000209331880534.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-606000209331880534.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-606000209331880534.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-606000209331880534.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-606000209331880534.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-606000209331880534.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-606000209331880534.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-606000209331880534.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-606000209331880534.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-606000209331880534.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-606000209331880534.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-606000209331880534.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-606000209331880534.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-606000209331880534.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-606000209331880534.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-606000209331880534.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-606000209331880534.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-606000209331880534.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-606000209331880534.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-606000209331880534.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-606000209331880534.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-606000209331880534 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-606000209331880534 .gp-relative{position:relative}.gps-606000209331880534 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-606000209331880534 .gp-mb-0{margin-bottom:0}.gps-606000209331880534 .gp-flex{display:flex}.gps-606000209331880534 .gp-inline-flex{display:inline-flex}.gps-606000209331880534 .gp-grid{display:grid}.gps-606000209331880534 .\!gp-hidden{display:none!important}.gps-606000209331880534 .gp-hidden{display:none}.gps-606000209331880534 .gp-max-w-full{max-width:100%}.gps-606000209331880534 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-606000209331880534 .gp-flex-col{flex-direction:column}.gps-606000209331880534 .gp-items-center{align-items:center}.gps-606000209331880534 .gp-justify-center{justify-content:center}.gps-606000209331880534 .gp-overflow-hidden{overflow:hidden}.gps-606000209331880534 .gp-leading-\[0\]{line-height:0}.gps-606000209331880534 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-606000209331880534 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-606000209331880534 .gp-duration-200{transition-duration:.2s}.gps-606000209331880534 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-606000209331880534 .tablet\:\!gp-hidden{display:none!important}.gps-606000209331880534 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-606000209331880534 .mobile\:\!gp-hidden{display:none!important}.gps-606000209331880534 .mobile\:gp-hidden{display:none}}.gps-606000209331880534 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-606000209331880534 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-606000209331880534 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-606000209331880534 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-606000209331880534 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gRjLX4ZsuX"}' data-id="gRjLX4ZsuX" id="gRjLX4ZsuX" data-same-height-subgrid-container class="gRjLX4ZsuX gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g3oTYNDX6B gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gcpSSqSHCI"}' data-id="gcpSSqSHCI" id="gcpSSqSHCI" data-same-height-subgrid-container class="gcpSSqSHCI gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="geq99PSWc- gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gJHvZy2fZB"}' data-id="gJHvZy2fZB" id="gJHvZy2fZB" data-same-height-subgrid-container class="gJHvZy2fZB gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gEaOMYvm_z gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gjoV6VoZ3A" class="gp-leading-[0] gjoV6VoZ3A" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gjoV6VoZ3A" class="icon-wrapper gp-inline-flex gp-overflow-hidden gjoV6VoZ3A " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--bblr:10001px;--bbrr:10001px;--btlr:10001px;--btrr:10001px;--focus-bblr:10001px;--focus-bbrr:10001px;--focus-btlr:10001px;--focus-btrr:10001px;-undefined-bblr:10001px;-undefined-bbrr:10001px;-undefined-btlr:10001px;-undefined-btrr:10001px;--bg:#DAEFF0;--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:30px;--w-tablet:30px;--w-mobile:30px;--h:30px;--h-tablet:30px;--h-mobile:30px;--minw:30px;--minw-tablet:30px;--minw-mobile:30px;--height-desktop:30px;--height-tablet:30px;--height-mobile:30px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><svg height="20" width="20" data-name="shopping-cart-regular" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817702888341864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M230.14,58.87A8,8,0,0,0,224,56H62.68L56.6,22.57A8,8,0,0,0,48.73,16H24a8,8,0,0,0,0,16h18L67.56,172.29a24,24,0,0,0,5.33,11.27,28,28,0,1,0,44.4,8.44h45.42A27.75,27.75,0,0,0,160,204a28,28,0,1,0,28-28H91.17a8,8,0,0,1-7.87-6.57L80.13,152h116a24,24,0,0,0,23.61-19.71l12.16-66.86A8,8,0,0,0,230.14,58.87ZM104,204a12,12,0,1,1-12-12A12,12,0,0,1,104,204Zm96,0a12,12,0,1,1-12-12A12,12,0,0,1,200,204Zm4-74.57A8,8,0,0,1,196.1,136H77.22L65.59,72H214.41Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g6eyDwAwUZ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gSMHyjNGQL"
        class="gSMHyjNGQL"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:22px;--size-mobile:21px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggSMHyjNGQL_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gM1lo6VQHP gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g2G1eeoUPa" class="gp-leading-[0] g2G1eeoUPa" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:right">
      <div data-id="g2G1eeoUPa" class="icon-wrapper gp-inline-flex gp-overflow-hidden g2G1eeoUPa " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:34px;--w-tablet:34px;--w-mobile:34px;--h:34px;--h-tablet:34px;--h-mobile:34px;--minw:34px;--minw-tablet:34px;--minw-mobile:34px;--height-desktop:34px;--height-tablet:34px;--height-mobile:34px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><svg height="20" width="20" data-name="caret-right-regular" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817669971509608">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gInrxdMb4T gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gpGaHN5Crv"}' data-id="gpGaHN5Crv" id="gpGaHN5Crv" data-same-height-subgrid-container class="gpGaHN5Crv gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gG5VI-41HP gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gX-V74iHBW" class="gp-leading-[0] gX-V74iHBW" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gX-V74iHBW" class="icon-wrapper gp-inline-flex gp-overflow-hidden gX-V74iHBW " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--bblr:10001px;--bbrr:10001px;--btlr:10001px;--btrr:10001px;--focus-bblr:10001px;--focus-bbrr:10001px;--focus-btlr:10001px;--focus-btrr:10001px;-undefined-bblr:10001px;-undefined-bbrr:10001px;-undefined-btlr:10001px;-undefined-btrr:10001px;--bg:#DAEFF0;--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:30px;--w-tablet:30px;--w-mobile:30px;--h:30px;--h-tablet:30px;--h-mobile:30px;--minw:30px;--minw-tablet:30px;--minw-mobile:30px;--height-desktop:30px;--height-tablet:30px;--height-mobile:30px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><svg height="20" width="20" data-name="hand-coins-regular" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817684217397608">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M230.33,141.06a24.43,24.43,0,0,0-21.24-4.23l-41.84,9.62A28,28,0,0,0,140,112H89.94a31.82,31.82,0,0,0-22.63,9.37L44.69,144H16A16,16,0,0,0,0,160v40a16,16,0,0,0,16,16H120a7.93,7.93,0,0,0,1.94-.24l64-16a6.94,6.94,0,0,0,1.19-.4L226,182.82l.44-.2a24.6,24.6,0,0,0,3.93-41.56ZM16,160H40v40H16Zm203.43,8.21-38,16.18L119,200H56V155.31l22.63-22.62A15.86,15.86,0,0,1,89.94,128H140a12,12,0,0,1,0,24H112a8,8,0,0,0,0,16h32a8.32,8.32,0,0,0,1.79-.2l67-15.41.31-.08a8.6,8.6,0,0,1,6.3,15.9ZM164,96a36,36,0,0,0,5.9-.48,36,36,0,1,0,28.22-47A36,36,0,1,0,164,96Zm60-12a20,20,0,1,1-20-20A20,20,0,0,1,224,84ZM164,40a20,20,0,0,1,19.25,14.61,36,36,0,0,0-15,24.93A20.42,20.42,0,0,1,164,80a20,20,0,0,1,0-40Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gX4H0PD05j gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnnXrafsGG"
        class="gnnXrafsGG"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:22px;--size-mobile:21px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnnXrafsGG_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gpBSr7E5fT gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gsiO1XIoWQ" class="gp-leading-[0] gsiO1XIoWQ" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:right">
      <div data-id="gsiO1XIoWQ" class="icon-wrapper gp-inline-flex gp-overflow-hidden gsiO1XIoWQ " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:34px;--w-tablet:34px;--w-mobile:34px;--h:34px;--h-tablet:34px;--h-mobile:34px;--minw:34px;--minw-tablet:34px;--minw-mobile:34px;--height-desktop:34px;--height-tablet:34px;--height-mobile:34px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><svg height="20" width="20" data-name="caret-right-regular" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817669971509608">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g-S0nu9XIx gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gx-jogAusV"}' data-id="gx-jogAusV" id="gx-jogAusV" data-same-height-subgrid-container class="gx-jogAusV gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gsZxOyq_Tv gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gl4Z2OA9IH" class="gp-leading-[0] gl4Z2OA9IH" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gl4Z2OA9IH" class="icon-wrapper gp-inline-flex gp-overflow-hidden gl4Z2OA9IH " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--bblr:10001px;--bbrr:10001px;--btlr:10001px;--btrr:10001px;--focus-bblr:10001px;--focus-bbrr:10001px;--focus-btlr:10001px;--focus-btrr:10001px;-undefined-bblr:10001px;-undefined-bbrr:10001px;-undefined-btlr:10001px;-undefined-btrr:10001px;--bg:#DAEFF0;--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:36px;--w-tablet:36px;--w-mobile:36px;--h:36px;--h-tablet:36px;--h-mobile:36px;--minw:36px;--minw-tablet:36px;--minw-mobile:36px;--height-desktop:36px;--height-tablet:36px;--height-mobile:36px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><svg height="20" width="20" data-name="truck-regular" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817710017806696">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M255.42,117l-14-35A15.93,15.93,0,0,0,226.58,72H192V64a8,8,0,0,0-8-8H32A16,16,0,0,0,16,72V184a16,16,0,0,0,16,16H49a32,32,0,0,0,62,0h50a32,32,0,0,0,62,0h17a16,16,0,0,0,16-16V120A7.94,7.94,0,0,0,255.42,117ZM192,88h34.58l9.6,24H192ZM32,72H176v64H32ZM80,208a16,16,0,1,1,16-16A16,16,0,0,1,80,208Zm81-24H111a32,32,0,0,0-62,0H32V152H176v12.31A32.11,32.11,0,0,0,161,184Zm31,24a16,16,0,1,1,16-16A16,16,0,0,1,192,208Zm48-24H223a32.06,32.06,0,0,0-31-24V128h48Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gNNcteOBkW gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggClDVUp1A"
        class="ggClDVUp1A"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:22px;--size-mobile:21px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggClDVUp1A_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gbm8xhbXp6 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gq8HeTuG8I" class="gp-leading-[0] gq8HeTuG8I" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:right">
      <div data-id="gq8HeTuG8I" class="icon-wrapper gp-inline-flex gp-overflow-hidden gq8HeTuG8I " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:34px;--w-tablet:34px;--w-mobile:34px;--h:34px;--h-tablet:34px;--h-mobile:34px;--minw:34px;--minw-tablet:34px;--minw-mobile:34px;--height-desktop:34px;--height-tablet:34px;--height-mobile:34px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><svg height="20" width="20" data-name="caret-right-regular" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817669971509608">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gSDLWAMaMh gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gfFLE_sekQ"}' data-id="gfFLE_sekQ" id="gfFLE_sekQ" data-same-height-subgrid-container class="gfFLE_sekQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gzPXYh6vPw gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gQgZxWVRe8" class="gp-leading-[0] gQgZxWVRe8" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gQgZxWVRe8" class="icon-wrapper gp-inline-flex gp-overflow-hidden gQgZxWVRe8 " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--bblr:10001px;--bbrr:10001px;--btlr:10001px;--btrr:10001px;--focus-bblr:10001px;--focus-bbrr:10001px;--focus-btlr:10001px;--focus-btrr:10001px;-undefined-bblr:10001px;-undefined-bbrr:10001px;-undefined-btlr:10001px;-undefined-btrr:10001px;--bg:#DAEFF0;--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:31px;--w-tablet:31px;--w-mobile:31px;--h:31px;--h-tablet:31px;--h-mobile:31px;--minw:31px;--minw-tablet:31px;--minw-mobile:31px;--height-desktop:31px;--height-tablet:31px;--height-mobile:31px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><svg height="20" width="20" data-name="shield-check-regular" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817702887555432">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M208,40H48A16,16,0,0,0,32,56v56c0,52.72,25.52,84.67,46.93,102.19,23.06,18.86,46,25.26,47,25.53a8,8,0,0,0,4.2,0c1-.27,23.91-6.67,47-25.53C198.48,196.67,224,164.72,224,112V56A16,16,0,0,0,208,40Zm0,72c0,37.07-13.66,67.16-40.6,89.42A129.3,129.3,0,0,1,128,223.62a128.25,128.25,0,0,1-38.92-21.81C61.82,179.51,48,149.3,48,112l0-56,160,0ZM82.34,141.66a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32l-56,56a8,8,0,0,1-11.32,0Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gf7LRioLC- gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="geCvpXvIbk"
        class="geCvpXvIbk"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:22px;--size-mobile:21px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggeCvpXvIbk_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 16",
    "tag": "section",
    "class": "gps-606000209331880534 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/21zmyt-ua/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=602392006047564715&sectionId=606000209331880534)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggSMHyjNGQL_text","label":"ggSMHyjNGQL_text","default":"Replace this text with your content"},{"type":"html","id":"ggnnXrafsGG_text","label":"ggnnXrafsGG_text","default":"Replace this text with your content"},{"type":"html","id":"gggClDVUp1A_text","label":"gggClDVUp1A_text","default":"Replace this text with your content"},{"type":"html","id":"ggeCvpXvIbk_text","label":"ggeCvpXvIbk_text","default":"Replace this text with your content"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}