
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-602400245220901629.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-602400245220901629.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-602400245220901629.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-602400245220901629.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-602400245220901629.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-602400245220901629.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-602400245220901629.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-602400245220901629.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-602400245220901629.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-602400245220901629.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-602400245220901629.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-602400245220901629.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-602400245220901629.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-602400245220901629.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-602400245220901629.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-602400245220901629.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-602400245220901629.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-602400245220901629.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-602400245220901629.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-602400245220901629.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-602400245220901629.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-602400245220901629.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-602400245220901629.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-602400245220901629.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-602400245220901629.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-602400245220901629.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-602400245220901629.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-602400245220901629.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-602400245220901629.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-602400245220901629.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-602400245220901629.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-602400245220901629.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-602400245220901629.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-602400245220901629.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-602400245220901629.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-602400245220901629.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-602400245220901629.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-602400245220901629.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-602400245220901629.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-602400245220901629.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-602400245220901629.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-602400245220901629.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-602400245220901629.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-602400245220901629.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-602400245220901629.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-602400245220901629.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-602400245220901629.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-602400245220901629.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-602400245220901629.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-602400245220901629.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-602400245220901629.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-602400245220901629.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-602400245220901629.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-602400245220901629.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-602400245220901629.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-602400245220901629.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-602400245220901629.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-602400245220901629.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-602400245220901629.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-602400245220901629.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-602400245220901629.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-602400245220901629.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-602400245220901629.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-602400245220901629.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-602400245220901629.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-602400245220901629.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-602400245220901629.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-602400245220901629.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-602400245220901629.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-602400245220901629.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-602400245220901629.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-602400245220901629.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-602400245220901629.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-602400245220901629.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-602400245220901629.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-602400245220901629.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-602400245220901629.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-602400245220901629.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-602400245220901629.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-602400245220901629.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-602400245220901629.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-602400245220901629 .\!gp-relative{position:relative!important}.gps-602400245220901629 .gp-relative{position:relative}.gps-602400245220901629 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-602400245220901629 .gp-mb-0{margin-bottom:0}.gps-602400245220901629 .gp-flex{display:flex}.gps-602400245220901629 .gp-inline-flex{display:inline-flex}.gps-602400245220901629 .gp-grid{display:grid}.gps-602400245220901629 .\!gp-hidden{display:none!important}.gps-602400245220901629 .gp-hidden{display:none}.gps-602400245220901629 .gp-h-full{height:100%}.gps-602400245220901629 .gp-w-\[0\.01px\]{width:.01px}.gps-602400245220901629 .gp-w-full{width:100%}.gps-602400245220901629 .gp-max-w-full{max-width:100%}.gps-602400245220901629 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-602400245220901629 .gp-flex-col{flex-direction:column}.gps-602400245220901629 .gp-items-center{align-items:center}.gps-602400245220901629 .gp-overflow-hidden{overflow:hidden}.gps-602400245220901629 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-602400245220901629 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-602400245220901629 .gp-duration-200{transition-duration:.2s}.gps-602400245220901629 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-602400245220901629 .tablet\:\!gp-hidden{display:none!important}.gps-602400245220901629 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-602400245220901629 .mobile\:\!gp-hidden{display:none!important}.gps-602400245220901629 .mobile\:gp-hidden{display:none}}.gps-602400245220901629 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-602400245220901629 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-602400245220901629 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#12235D","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gryaCfY-6P"}' data-id="gryaCfY-6P" id="gryaCfY-6P" data-same-height-subgrid-container class="gryaCfY-6P gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:50px;--pl:0px;--pb:50px;--pr:0px;--pt-mobile:19px;--pl-mobile:0px;--pb-mobile:19px;--pr-mobile:0px;--pt-tablet:38px;--pl-tablet:0px;--pb-tablet:38px;--pr-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#12235D;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gorBLWtYQe gp-relative gp-flex gp-flex-col"
    >
      
  <script src="https://assets.gemcommerce.com/assets-v2/gp-marquee-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-marquee data-id="gNCigG5J7k" gp-data='{"setting":{"activeItem":"0","childItem":["Item 1","Item 2","Item 3"],"direction":"left","hasItemShadow":false,"hoverItem":"0","iconSeparatorSvg":"<svg height=\"20\" width=\"20\" data-name=\"dot-outline-bold\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817569155645800\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M128,96a32,32,0,1,0,32,32A32,32,0,0,0,128,96Zm0,40a8,8,0,1,1,8-8A8,8,0,0,1,128,136Z\" /></svg>","isPreview":false,"isShowIconSeparator":true,"itemWidthType":{"desktop":"FIT_CONTENT","mobile":"FIT_CONTENT","tablet":"FIT_CONTENT"},"speed":"0.6","stopOnHover":true,"uid":"gNCigG5J7k"},"styles":{"align":{"desktop":"center"},"backgroundColor":{"desktop":"transparent"},"iconSeparatorColor":"#FFFFFF","iconSeparatorSize":{"desktop":30,"mobile":12,"tablet":24},"itemBackgroundColor":{"desktop":"transparent"},"itemBorderStyle":{"border":"none","borderType":"none","borderWidth":"1px","color":"#000000","isCustom":false,"width":"1px 1px 1px 1px"},"itemCorner":{"radiusType":"none"},"itemMaxWidth":{"desktop":"300px","mobile":"300px","tablet":"300px"},"itemShadow":{"angle":90,"blur":"12px","color":"#121212","distance":"4px","spread":"0px","type":"shadow-1"},"itemSpacing":{"desktop":"37px","mobile":"14px","tablet":"25px"},"sizeSetting":{"desktop":{"height":"auto","shapeLinked":false,"width":"100%"}}}}'
   class="gNCigG5J7k">
   <div class="gp-flex gp-w-full gp-relative" style="--jc:center">
      <div class="!gp-relative" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:0px;--bg:transparent">
         <div class="gem-marquee gp-overflow-hidden gp-flex gp-items-center gp-w-full gp-h-full gNCigG5J7k">
            <div class="gp-overflow-hidden gp-w-full gp-h-full">
               
  <div style="--pause-on-hover:paused;--pause-on-click:paused;--width:100%;--transform:none;min-width:100%" class="rfm-marquee-container">
    <div class="rfm-marquee" style="--play:running;--direction:normal;--delay:0s;--iteration-count:infinite;--min-width:auto;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto">
      <div class="rfm-initial-child-container">
        
        <div style="--transform:none;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto" class="rfm-child">
          
               <div class="gp-flex gp-items-center gp-marque-child-item gem-child-marquee-item gp-w-full">
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all"
                     style="--pr:0px;--pr-tablet:0px;--pr-mobile:0px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:unset;--maxw-tablet:unset;--maxw-mobile:unset">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gmXZHbTGJw gem-marquee-item-gmXZHbTGJw"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--shadow:none;--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvl7ecjxdr"
        class="gvl7ecjxdr"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:500;--size:20px;--size-tablet:18px;--size-mobile:10px;--lh:125%;--lh-tablet:125%;--lh-mobile:110%;--ls:normal;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvl7ecjxdr_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
                     <span style="--c:#FFFFFF;--ml:37px;--ml-tablet:25px;--ml-mobile:14px;--mr:37px;--mr-tablet:25px;--mr-mobile:14px;--h:30px;--h-tablet:24px;--h-mobile:12px;--w:30px;--w-tablet:24px;--w-mobile:12px;--minw:30px;--minw-tablet:24px;--minw-mobile:12px"
                        class="gp-inline-flex gp-items-center  [&>svg]:gp-h-full [&>svg]:gp-w-full">
                        <svg height="20" width="20" data-name="dot-outline-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817569155645800">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,96a32,32,0,1,0,32,32A32,32,0,0,0,128,96Zm0,40a8,8,0,1,1,8-8A8,8,0,0,1,128,136Z" /></svg>
                     </span>
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all"
                     style="--pr:0px;--pr-tablet:0px;--pr-mobile:0px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:unset;--maxw-tablet:unset;--maxw-mobile:unset">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  g1OZzYrlQY gem-marquee-item-g1OZzYrlQY"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--shadow:none;--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gcyrbQ3KQy"
        class="gcyrbQ3KQy"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:500;--size:20px;--size-tablet:18px;--size-mobile:10px;--lh:125%;--lh-tablet:125%;--lh-mobile:110%;--ls:normal;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggcyrbQ3KQy_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
                     <span style="--c:#FFFFFF;--ml:37px;--ml-tablet:25px;--ml-mobile:14px;--mr:37px;--mr-tablet:25px;--mr-mobile:14px;--h:30px;--h-tablet:24px;--h-mobile:12px;--w:30px;--w-tablet:24px;--w-mobile:12px;--minw:30px;--minw-tablet:24px;--minw-mobile:12px"
                        class="gp-inline-flex gp-items-center  [&>svg]:gp-h-full [&>svg]:gp-w-full">
                        <svg height="20" width="20" data-name="dot-outline-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817569155645800">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,96a32,32,0,1,0,32,32A32,32,0,0,0,128,96Zm0,40a8,8,0,1,1,8-8A8,8,0,0,1,128,136Z" /></svg>
                     </span>
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all"
                     style="--pr:0px;--pr-tablet:0px;--pr-mobile:0px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:unset;--maxw-tablet:unset;--maxw-mobile:unset">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gsWXFZczgm gem-marquee-item-gsWXFZczgm"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--shadow:none;--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5cudaLPJR"
        class="g5cudaLPJR"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:500;--size:20px;--size-tablet:18px;--size-mobile:10px;--lh:125%;--lh-tablet:125%;--lh-mobile:110%;--ls:normal;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5cudaLPJR_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
                     <span style="--c:#FFFFFF;--ml:37px;--ml-tablet:25px;--ml-mobile:14px;--mr:37px;--mr-tablet:25px;--mr-mobile:14px;--h:30px;--h-tablet:24px;--h-mobile:12px;--w:30px;--w-tablet:24px;--w-mobile:12px;--minw:30px;--minw-tablet:24px;--minw-mobile:12px"
                        class="gp-inline-flex gp-items-center  [&>svg]:gp-h-full [&>svg]:gp-w-full">
                        <svg height="20" width="20" data-name="dot-outline-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817569155645800">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,96a32,32,0,1,0,32,32A32,32,0,0,0,128,96Zm0,40a8,8,0,1,1,8-8A8,8,0,0,1,128,136Z" /></svg>
                     </span>
                  </div>
                  
               </div>
               
        </div>
        
      </div>
    </div>
    <div class="rfm-marquee placeholder-marquee" style="--play:running;--direction:normal;--delay:0s;--iteration-count:infinite;--min-width:auto;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto"></div>
  </div>
  
            </div>
         </div>
      </div>
   </div>
</gp-marquee>

    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-602400245220901629 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/21zmyt-ua/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=602392006047564715&sectionId=602400245220901629)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggvl7ecjxdr_text","label":"ggvl7ecjxdr_text","default":"FREE SHIPPING"},{"type":"html","id":"ggcyrbQ3KQy_text","label":"ggcyrbQ3KQy_text","default":"<p>1500+ HAPPY CUSTOMERS</p>"},{"type":"html","id":"gg5cudaLPJR_text","label":"gg5cudaLPJR_text","default":"<p>LOVED BY EVERYONE</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}