
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-602392768806912765.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-602392768806912765.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-602392768806912765.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-602392768806912765.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-602392768806912765.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-602392768806912765.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-602392768806912765.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-602392768806912765.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-602392768806912765.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-602392768806912765.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-602392768806912765.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-602392768806912765.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-602392768806912765.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-602392768806912765.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-602392768806912765.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-602392768806912765.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-602392768806912765.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-602392768806912765.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-602392768806912765.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-602392768806912765.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-602392768806912765.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-602392768806912765.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-602392768806912765.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-602392768806912765.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-602392768806912765.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-602392768806912765.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-602392768806912765.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-602392768806912765.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-602392768806912765.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-602392768806912765.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-602392768806912765.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-602392768806912765.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-602392768806912765.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-602392768806912765.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-602392768806912765.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-602392768806912765.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-602392768806912765.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-602392768806912765.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-602392768806912765.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-602392768806912765.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-602392768806912765.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-602392768806912765.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-602392768806912765.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-602392768806912765.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-602392768806912765.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-602392768806912765.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-602392768806912765.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-602392768806912765.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-602392768806912765.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-602392768806912765.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-602392768806912765.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-602392768806912765.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-602392768806912765.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-602392768806912765.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-602392768806912765.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-602392768806912765.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-602392768806912765.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-602392768806912765.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-602392768806912765.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-602392768806912765.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-602392768806912765.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-602392768806912765.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-602392768806912765.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-602392768806912765.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-602392768806912765.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-602392768806912765.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-602392768806912765.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-602392768806912765.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-602392768806912765.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-602392768806912765 .gp-relative{position:relative}.gps-602392768806912765 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-602392768806912765 .gp-mb-0{margin-bottom:0}.gps-602392768806912765 .gp-flex{display:flex}.gps-602392768806912765 .gp-grid{display:grid}.gps-602392768806912765 .\!gp-hidden{display:none!important}.gps-602392768806912765 .gp-hidden{display:none}.gps-602392768806912765 .gp-max-w-full{max-width:100%}.gps-602392768806912765 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-602392768806912765 .gp-flex-col{flex-direction:column}.gps-602392768806912765 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-602392768806912765 .gp-duration-200{transition-duration:.2s}.gps-602392768806912765 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-602392768806912765 .tablet\:\!gp-hidden{display:none!important}.gps-602392768806912765 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-602392768806912765 .mobile\:\!gp-hidden{display:none!important}.gps-602392768806912765 .mobile\:gp-hidden{display:none}}.gps-602392768806912765 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--pos:static;--top:0px;--z:99999;--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#DAEFF0","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":"","preload":false}},"uid":"gByHXISrTq"}' data-id="gByHXISrTq" id="gByHXISrTq" data-same-height-subgrid-container class="gByHXISrTq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#DAEFF0;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gR7df2qLPi gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#5FC4D9","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":"","preload":false}},"uid":"gWtLnQDmhl"}' data-id="gWtLnQDmhl" id="gWtLnQDmhl" data-same-height-subgrid-container class="gWtLnQDmhl gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:8px;--pb:8px;--pt-mobile:6px;--pb-mobile:6px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--h:auto;--bgc:#5FC4D9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gT-qb8S33W gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gyVeVt23DX"
        class="gyVeVt23DX"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--size:17px;--size-tablet:14px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--weight:bold;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggyVeVt23DX_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-602392768806912765 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/21zmyt-ua/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=602392006064407467&sectionId=602392768806912765)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggyVeVt23DX_text","label":"ggyVeVt23DX_text","default":"<p><span style=\"color:#960000;\">Sale: -20%</span> nur solange der Vorrat reicht</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}