
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-611807156731118445.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-611807156731118445.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-611807156731118445.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-611807156731118445.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-611807156731118445.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-611807156731118445.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-611807156731118445.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-611807156731118445.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-611807156731118445.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-611807156731118445.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-611807156731118445.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-611807156731118445.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-611807156731118445.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-611807156731118445.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-611807156731118445.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-611807156731118445.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-611807156731118445.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-611807156731118445.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-611807156731118445.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-611807156731118445.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-611807156731118445.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-611807156731118445.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-611807156731118445.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-611807156731118445.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-611807156731118445.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-611807156731118445.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-611807156731118445.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-611807156731118445.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-611807156731118445.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-611807156731118445.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-611807156731118445.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-611807156731118445.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-611807156731118445.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-611807156731118445.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-611807156731118445.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-611807156731118445.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-611807156731118445.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-611807156731118445.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-611807156731118445.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-611807156731118445.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-611807156731118445.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-611807156731118445.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-611807156731118445.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-611807156731118445.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-611807156731118445.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-611807156731118445.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-611807156731118445.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-611807156731118445.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-611807156731118445.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-611807156731118445.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-611807156731118445.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-611807156731118445.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-611807156731118445.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-611807156731118445.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-611807156731118445.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-611807156731118445.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-611807156731118445.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-611807156731118445.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-611807156731118445.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-611807156731118445.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-611807156731118445.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-611807156731118445.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-611807156731118445.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-611807156731118445.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-611807156731118445.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-611807156731118445.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-611807156731118445.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-611807156731118445.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-611807156731118445.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-611807156731118445.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-611807156731118445.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-611807156731118445.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-611807156731118445.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-611807156731118445.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-611807156731118445 .gp-relative{position:relative}.gps-611807156731118445 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-611807156731118445 .gp-mb-0{margin-bottom:0}.gps-611807156731118445 .gp-inline-block{display:inline-block}.gps-611807156731118445 .gp-flex{display:flex}.gps-611807156731118445 .gp-grid{display:grid}.gps-611807156731118445 .gp-contents{display:contents}.gps-611807156731118445 .\!gp-hidden{display:none!important}.gps-611807156731118445 .gp-hidden{display:none}.gps-611807156731118445 .gp-h-auto{height:auto}.gps-611807156731118445 .gp-h-full{height:100%}.gps-611807156731118445 .gp-w-full{width:100%}.gps-611807156731118445 .gp-max-w-full{max-width:100%}.gps-611807156731118445 .gp-flex-none{flex:none}.gps-611807156731118445 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-611807156731118445 .gp-flex-col{flex-direction:column}.gps-611807156731118445 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-611807156731118445 .gp-duration-200{transition-duration:.2s}.gps-611807156731118445 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-611807156731118445 .tablet\:\!gp-hidden{display:none!important}.gps-611807156731118445 .tablet\:gp-hidden{display:none}.gps-611807156731118445 .tablet\:gp-h-auto{height:auto}.gps-611807156731118445 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-611807156731118445 .mobile\:\!gp-hidden{display:none!important}.gps-611807156731118445 .mobile\:gp-hidden{display:none}.gps-611807156731118445 .mobile\:gp-h-auto{height:auto}.gps-611807156731118445 .mobile\:gp-flex-none{flex:none}}.gps-611807156731118445 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gxVntWFXP9"}' data-id="gxVntWFXP9" id="gxVntWFXP9" data-same-height-subgrid-container class="gxVntWFXP9 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:var(--g-s-m);--pb-mobile:auto;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gI-tOe7fs3 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gQSSKE3l78"}' data-id="gQSSKE3l78" id="gQSSKE3l78" data-same-height-subgrid-container class="gQSSKE3l78 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:16px;--d:none;--d-tablet:none;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gxGEFzAnS6 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"g8fxNAWbFx"}' data-id="g8fxNAWbFx" id="g8fxNAWbFx" data-same-height-subgrid-container class="g8fxNAWbFx gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gkjuqXbUab gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5rjVc5Qhu"
        class="g5rjVc5Qhu"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5rjVc5Qhu_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g5rjVc5Qhu">
        .g5rjVc5Qhu {

}
.g5rjVc5Qhu p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="ggEFKzql5Y gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gfqfcDDieO"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1774430583925 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gfqfcDDieO"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Handelsblatt_201x_logo_svg.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIyODciIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtMjg3Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjI4NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIyODciIGZpbGw9InVybCgjZy0xOTIwLTI4NykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo_1024x.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:200px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-611807156731118445 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/21zmyt-ua/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=602392006047564715&sectionId=611807156731118445)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg5rjVc5Qhu_text","label":"gg5rjVc5Qhu_text","default":"<p>Bekannt aus&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}