
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-606266360720261892.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-606266360720261892.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-606266360720261892.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-606266360720261892.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-606266360720261892.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-606266360720261892.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-606266360720261892.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-606266360720261892.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-606266360720261892.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-606266360720261892.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-606266360720261892.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-606266360720261892.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-606266360720261892.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-606266360720261892.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-606266360720261892.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-606266360720261892.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-606266360720261892.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-606266360720261892.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-606266360720261892.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-606266360720261892.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-606266360720261892.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-606266360720261892.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-606266360720261892.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-606266360720261892.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-606266360720261892.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-606266360720261892.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-606266360720261892.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-606266360720261892.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-606266360720261892.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-606266360720261892.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-606266360720261892.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-606266360720261892.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-606266360720261892.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-606266360720261892.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-606266360720261892.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-606266360720261892.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-606266360720261892.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-606266360720261892.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-606266360720261892.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-606266360720261892.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-606266360720261892.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-606266360720261892.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-606266360720261892.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-606266360720261892.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-606266360720261892.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-606266360720261892.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-606266360720261892.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-606266360720261892.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-606266360720261892.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-606266360720261892 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-606266360720261892 .gp-relative{position:relative}.gps-606266360720261892 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-606266360720261892 .gp-mb-0{margin-bottom:0}.gps-606266360720261892 .gp-flex{display:flex}.gps-606266360720261892 .gp-grid{display:grid}.gps-606266360720261892 .\!gp-hidden{display:none!important}.gps-606266360720261892 .gp-hidden{display:none}.gps-606266360720261892 .gp-max-w-full{max-width:100%}.gps-606266360720261892 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-606266360720261892 .gp-flex-col{flex-direction:column}.gps-606266360720261892 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-606266360720261892 .gp-duration-200{transition-duration:.2s}.gps-606266360720261892 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-606266360720261892 .tablet\:\!gp-hidden{display:none!important}.gps-606266360720261892 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-606266360720261892 .mobile\:\!gp-hidden{display:none!important}.gps-606266360720261892 .mobile\:gp-hidden{display:none}}.gps-606266360720261892 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"g6aBUwuXap"}' data-id="g6aBUwuXap" id="g6aBUwuXap" data-same-height-subgrid-container class="g6aBUwuXap gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gWTGd8B8Ak gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gcyW0i8O4O"}' data-id="gcyW0i8O4O" id="gcyW0i8O4O" data-same-height-subgrid-container class="gcyW0i8O4O gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gVSpoIraLs gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gY0CVIheue"
        class="gY0CVIheue"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--size:28px;--size-tablet:38px;--size-mobile:36px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggY0CVIheue_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-606266360720261892 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/21zmyt-ua/apps/gempages-cro/app/shopify/edit?pageType=GP_COLLECTION&editorId=602392006064341931&sectionId=606266360720261892)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggY0CVIheue_text","label":"ggY0CVIheue_text","default":"Alle Produkte"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}